<div class="content" fxLayout="column" appPerfectScrollbar>
    <div class="breadcrums pt-12 pb-12" fxLayout="row" fxLayoutGap="8px">
      <span class="cursor-pointer" [routerLink]="['/']">Inicio</span>
      <span>/</span>
      <span>Recuperar Contraseña</span>
    </div>
  
    <div class="container" fxLayout="row" fxLayoutAlign="center start">
      <div class="form" fxLayout="column" [formGroup]="form">
        <div class="title mb-24" fxLayout="column">
          <h1>Recuperar Contraseña</h1>
          <span class="divider"></span>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput required formControlName="email">
        </mat-form-field>
  
        <div class="content-button mt-24">
          <button mat-flat-button color="primary" (click)="submit()" [disabled]="loading || form.invalid">
            ENVIAR
          </button>
        </div>
      </div>
    </div>
  </div>