@import '../../../../core/scss/app';

app-category {
    .breadcrums {
        background-color: #e5e9f2;
        padding: 0 10%;
    }
    
    .container {
        width: 80%;
        margin-top: 24px;
        margin-bottom: 70px;
    
        @include media-breakpoint-down('sm') {
            width: 100%;
        }
    
        .title {
            h1 {
                font-size: 40px;
                color: mat-color($primary);
                margin-bottom: 15px;
                margin-top: 0;
            }
        }
    
        .number-per-page {
            mat-label {
                font-weight: 600;
                /*margin-bottom: 12px;*/
                font-size: 13px;
                color: #555e6f;
            }
        }
    
        .content-filter {
            padding: 24px;
    
            .item-filter {
                cursor: pointer;
    
                p {
                    font-size: 13px;
                    margin: 12px 0;
                    color: #535e70;
                    font-weight: 300;
        
                    &.title {
                        font-weight: bold;
                        font-size: 18px;
                        margin-bottom: 24px;
                    }
                }
        
                mat-icon {
                    color: #535e70;
                    font-size: 15px;
                    height: 15px;
                    width: 15px;
                    min-width: 15px;
                    min-height: 15px;
                }
            }
    
            .terms {
                padding-left: 15px;
                mat-checkbox {
                    font-size: 12px;
                }
            }
    
            button {
                width: 100%;
                font-weight: 300;
                padding: 5px 0;
            }
        }
    
        .mat-form-field-infix {
            padding: 11px 0 5px 0;
            border-top: 0;
            width: auto;
    
            .mat-select-arrow-wrapper {
                transform: translateY(0%);
            }
        }
    
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    
        .mat-select-value {
            max-width: 100%;
            width: 100%;
        }
    }
}