<div class="content" fxLayout="column" appPerfectScrollbar>
    <div class="breadcrums pt-12 pb-12" fxLayout="row" fxLayoutGap="8px">
        <span class="cursor-pointer" [routerLink]="['/']">Inicio</span>
        <span>/</span>
        <span class="cursor-pointer" [routerLink]="['/productos']" >Productos</span>
        <span>/</span>
        <span class="cursor-pointer" [routerLink]="['/productos/categoria/', currentCategory.id]">{{ currentCategory.name }}</span>
    </div>

    <div class="container">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
            <div class="title">
                <h1>{{ currentCategory.name }}</h1>
                <span class="divider"></span>
            </div>
            <div class="number-per-page" 
                fxLayout="column" 
                fxLayout.gt-sm="row" 
                fxLayoutGap="24px"
                fxHide fxShow.gt-sm
            >
                <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center">
                    <mat-label>Mostrar:</mat-label>
                    <mat-form-field appearance="outline" class="per-page">
                        <mat-select [(ngModel)]="perpage" (selectionChange)="changePerPage($event.value)">
                          <mat-option [value]="20">20</mat-option>
                          <mat-option [value]="50">50</mat-option>
                          <mat-option [value]="100">100</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center">
                    <mat-label>Ordenar por:</mat-label>
                    <mat-form-field appearance="outline" class="order-by" >
                        <mat-select [(ngModel)]="orderby" (selectionChange)="changeOrderBy($event.value)">
                          <mat-option value="popularity">Los más vendidos</mat-option>
                          <mat-option value="price-asc">Menor precio</mat-option>
                          <mat-option value="price">Mayor precio</mat-option>
                          <mat-option value="rating">Popular</mat-option>
                          <mat-option value="title">Nombre</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" class="mt-24">
            <div fxFlex="100" fxFlex.gt-sm="30">
                <div class="content-filter" style="background-color: #f3f4f8;">
                    <p class="title">Filtar por:</p>

                    <div *ngIf="loadingAttributes" class="mt-24" fxLayout="row" fxLayoutAlign="center center">
                        <mat-spinner [diameter]="35"></mat-spinner>
                    </div>

                    <ng-container *ngIf="!loadingAttributes">
                        <div style="overflow-y: hidden;overflow-x: auto;" *ngFor="let attribute of attributes" fxLayout="column">
                            <div fxLayout="row" class="item-filter" fxLayoutAlign="space-between center" (click)="getTermsByAttribute(attribute)">
                                <p class="item-attribute">{{ attribute.name }}</p>
                                <mat-icon>add</mat-icon>
                            </div>
                            <div class="terms" fxLayout="column">
                                <div class="mb-12" fxLayout="row" fxLayoutAlign="center center" *ngIf="getLoadingAttribute(attribute.id)">
                                    <mat-spinner [diameter]="25"></mat-spinner>
                                </div>
                                <ng-container *ngIf="!getLoadingAttribute(attribute.id)">
                                    <mat-checkbox *ngFor="let term of attribute.terms" (change)="addFilter($event, attribute.slug, term.id)">{{ cleanNameAttribute(term.name) | uppercase }}</mat-checkbox>
                                </ng-container>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </ng-container>

                    <button mat-flat-button color="primary" class="mt-24" (click)="applyFilter()">APLICAR FILTROS</button>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="70" fxLayoutGap="12px" fxLayout="row wrap" fxLayoutAlign="space-between start">
                <div *ngIf="loadingProducts" fxFill class="mt-24" fxLayout="row" fxLayoutAlign="center center">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

                <ng-container *ngIf="!loadingProducts">
                    <div fxFlex="100" fxFlex.gt-sm="30" class="mb-24" *ngFor="let product of products">
                        <app-card-product [product]="product"></app-card-product>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="pagination" fxLayout="row" fxLayoutAlign="end center">
            <div fxFlex="70" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                <mat-label>Página:</mat-label>
                <mat-form-field appearance="outline" class="pagination-page">
                    <mat-select [(ngModel)]="currentPage" (selectionChange)="changePage($event.value)">
                        <mat-option *ngFor="let number of allPage" [value]="number">{{ number }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-label> de {{ totalPages }}</mat-label>
            </div>
        </div>
    </div>
</div>