@import '../../../../core/scss/app';

.content {
    .form {
        .mat-form-field {
            width: 100%;
        }

        .info {
            font-size: 12px;
        }

        .content-button {
            button {
                font-weight: 300;
            }
        }
    }
}