<div class="content" fxLayout="column">
    <h2 class="mb-24">Modificar contraseña</h2>
    <mat-divider></mat-divider>
    <div class="form mt-24" fxLayout="column" [formGroup]="form">
        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex="100" fxFlex.gt-sm="30" >
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput required formControlName="current_password" type="password">
                    <mat-icon matSuffix *ngIf="inputValid('current_password')">done</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30">
                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput required formControlName="new_password" type="password">
                    <mat-icon matSuffix *ngIf="inputValid('new_password')">done</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30">
                <mat-form-field appearance="outline">
                    <mat-label>Confirmar nueva contraseña</mat-label>
                    <input matInput required formControlName="confirm_password" type="password">
                    <mat-icon matSuffix *ngIf="inputValid('confirm_password')">done</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <p class="info">Tu contraseña debe contener un mínimo de 8 caracteres con al menos un número, una letra mayuscula y un caracter especial(+,_,-,@,$,&).</p>
        <div class="content-button mt-12 mb-24">
            <button fxFill mat-flat-button color="primary" [disabled]="loading || form.invalid" (click)="submit()">
              ACTUALIZAR CONTRASEÑA
            </button>
        </div>
    </div>
</div>