<div class="content-info" fxLayout="column">
    <div fxLayout="row"><img src="assets/images/icons/ico-compra-amex.svg" alt=""></div>
    <div fxLayout="row" class="mb-24">
        <p class="important">Por favor verifica que el <b>Código Postal de tu dirección en PayPal sea el mismo</b> <br>
            que has ingresado para calcular tu envío y asegurar una entrega exitorsa.</p>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="mt-24 mb-24">
        <p>Serás redireccionado a la plataforma de <b>PayPal</b> para completar tu compra</p>
    </div>
</div>