<mat-sidenav-container>
    <div id="app-main-content">
        
        <div id="wrapper">

            <div class="content-wrapper">
                <ng-container *ngIf="appSettings.layout.toolbar === 'below'">
                    <app-toolbar class="below" [ngClass]="appSettings.colorClasses.toolbar"></app-toolbar>
                </ng-container>
                
                <app-content id="content-router"></app-content>

                <ng-container *ngIf="appSettings.layout.footer === 'below'">
                    <app-footter class="below" [ngClass]="appSettings.colorClasses.footer"></app-footter>
                </ng-container>
                
            </div>
        </div>

        <ng-container *ngIf="appSettings.layout.footer === 'above'">
            <app-footter class="above" [ngClass]="appSettings.colorClasses.footer"></app-footter>
        </ng-container>
        
    </div>
    <mat-sidenav appMatSidenavHelper="quick-panel" appMatSidenavMode="over" appMatSidenavPosition="end">
        <div class="logo cursor-pointer" [routerLink]="['/']" appMatSidenavToggler="quick-panel">
            <img class="logo-icon" src="assets/images/logos/logo-color.png">
          </div>
        <app-navigation></app-navigation>
    </mat-sidenav>
</mat-sidenav-container>

<a href="https://wa.link/173vt7" class="whatsapp-link" target="_blank">
    <i class="fa fa-whatsapp"></i>
</a>