@import '../../core/scss/app';

:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    .first-toolbar {
        padding: 1px 10%;

        .cont-contact {
            a {
                color: white;
                font-size: 11px;

                mat-icon {
                    width: 19px;
                    height: 19px;
                    font-size: 19px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        background: inherit;
        color: inherit;
        position: relative;
        padding: 0px 10% !important;

        .loading-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }

        .menu-horizontal {
            margin-bottom: 0;
            
            li {
                display: inline;
                padding-right: .5em;
                color: mat-color($accent);

                &:last-child {
                    padding-right: 0;
                }

                button {
                    color: #677080;

                    mat-icon {
                        color: #677080;
                    }

                    &.router-link-active {
                        color: mat-color($primary);
                    }
                }
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 140px;
        }
    }

    .user-button,
    .language-button,
    .quick-panel-toggle-button {
        min-width: 64px;

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }

    .username {
        color: white;
        font-weight: 400;
    }

    .toggle-button-navbar {
        min-width: 56px;
        height: 56px;

        .mat-icon {
            color: #012794;
        }
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }

    .input-search {
        position: relative;

        input {
            font-size: 13px;
            color: rgb(47, 61, 86);
            padding: 9px 14px;
            padding-right: 38px;
            border: 1px solid #e9ebef;
            border-radius: 3px;
            background-color: #f3f5f9;
        }

        mat-icon {
            position: absolute;
            right: 6px;
            top: 8px;
            color: rgb(47, 61, 86);
        }
    }

    .content-icon-cart {
        position: relative;
        cursor: pointer;

        .icon-cart {
            color: rgb(47, 61, 86);
            margin-top: 7px;
        }

        .badget {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #2f3d56;
            font-size: 8px;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            top: 0px;
            right: -5px;
        }
    }

    .ctn-banner {
        padding: 10px 10%;
        background: rgb(61,78,228);
        background: linear-gradient(90deg, rgba(61,78,228,1) 0%, rgba(1,39,148,1) 100%); 

        .ctn-label {
            p {
                margin: 0;
            }
        }

        .ctn-code {
            p {
                background-color: white;
                margin: 0;
                color: rgb(61,78,228);
                padding: 5px 15px;
                border-radius: 30px;
            }
        }
    }
}