app-card-category {
    .category {
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        background-position: center;
        background-size: cover;

        img {
            opacity: 0;
            max-height: 265px;
        }

        .bg-color {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #00000036;

            p {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                color: white;
                font-size: 30px;
            }
        }
    }
}