@import '../../../../../core/scss/app';

.content-info {
    .img {
        img {
            width: 200px;
        }
    }

    .details {
        margin-bottom: 24px;

        ol {
            margin: 0;
            margin-left: 16px;
            padding: 0;

            li {
                margin-top: 24px;

                &::marker {
                    font-size: 20px;
                    font-weight: 500;
                    color: mat-color($primary);
                }
            }
        }

        .importante {
            font-weight: 500;
            color: #565b69;
        }
    }
}