<div class="content-info mt-24" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start start">
    <div class="img">
        <img src="assets/images/icons/ico-compra-oxxo.svg">
    </div>
    <div class="details" fxLayout="column">
        <h3>Realiza tu depósito en <b>cualquier sucursal OXXO.</b></h3>
        <ol>
            <li>Te enviaremos un correo electrónico con el comprobante de pago en OXXO<br>
            donde encontrarás un código de barras con el cual podrás realizar tu pago.</li>

            <li>Imprime el comprobante de pago y acude a la sucursal OXXO de tu<br> 
                preferencia. Proporciona al cajero tu comprobante de pago y el monto a pagar.</li>

            <li>Tu compra quedará finalizada una vez que el cajero registre tu código de barras.<br>
             Tu pago se verá reflejado en las siguientes 12 horas (sólo días hábiles).</li>
        </ol>
        <span class="importante mt-24">
            * Para pagar en OXXO el monto máximo de tu orden debe ser de $10,000.00
        </span>
        <span class="importante">
            * Recuerda que debes realizar tu pago en las próximas 36 horas
        </span>

    </div>
</div>