@import '../../scss/app';

.card-product {
    max-width: 250px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;

    @include media-breakpoint-down('sm') {
        max-width: 100%;
    }

    &.border {
        border: 1px solid rgb(229, 233, 242);
    }

    .content-image {
        position: relative;
        height: 235px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            max-height: 100%;
        }

        .discount {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 45px;
            height: 45px;
            background-color: red;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            font-weight: bold;
        }
    }

    .content-info {
        padding: 15px 17px;
        display: flex;
        flex-direction: column;
        text-align: start;

        .category {
            color: #b8c1c6;
            font-weight: 500;
            font-size: 9px;
        }

        .name {
            font-size: 15px;
            font-weight: bold;
        }

        .description {
            font-size: 11px;
            color: gray;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 34px;

        }
    }

    .content-price {
        padding: 0 17px 17px 17px;
        display: flex;
        position: relative;

        .prices {
            span {
                &.saleprice {
                    font-size: 18px;
                    font-weight: bold;
                }

                &.withdiscount {
                    margin-left: 8px;
                    color: #a9b4c5;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }

        .buttons {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 40px;
            animation: all;
            transition: .3s ease-in-out;
            transform: translateY(100%);

            .add-to-card {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #00c1c0;
                color: white;
                cursor: pointer;
                font-size: 12px;
            }

            .view-more {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: mat-color($primary);
                color: white;
                cursor: pointer;
                font-size: 12px;
            }
        }
    }

    &:hover {
        .content-price {
            .buttons {
                transform: translateY(0);
            }
        }
    }
}